/* ----------------------------------
 * Status
 * ---------------------------------- */

@font-face
{
  font-family: FiraSans;
  src: url('/fonts/FiraSans/FiraSans-Regular.ttf');
}

@font-face
{
  font-family: FiraSans;
  src: url('/fonts/FiraSans/FiraSans-Bold.ttf');
  font-weight:bold;
}

section[role="status"] {
  background: rgba(64,64,64,1) url(status/images/ui/pattern.png) repeat left top;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: left;
}

section[role="status"] p {
  font-family: FiraSans;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.2rem;
  margin: 1rem 3rem;
  padding: 0;
  text-align: left;
}

section[role="status"] p strong {
  font-family: FiraSans, bold;
  color: rgb(9, 149, 176);
}